<div class="container">
  <h1>Leaflet Map</h1>
  <div  style="margin-left: 20px; margin-top: 30px"> 
    <!-- <button (click)="Save()" class="btn btn-primary">Save changes to Json</button>
    <button (click)="LoadLayers()" class="btn btn-secondary" style="margin-left: 20px">Load recent changes</button> -->
    <div class="col-md-12" id="map" style="width: 800px; height: 600px; border: 1px solid #ccc; margin-top: 20px"></div>

    <!-- <div class="col-md-4">
        <pre>{{ layerDetails | json }}</pre>
    </div> -->
  </div>
</div>
