<div class="panel-body">
                    <div class="row">
                      <div class="col-md-2">                        
                        <div class="panel panel-info">
                          <div class="panel-heading">
                            <div class="row">
                              <div class="col-xs-7">
                                <img src="../../../assets/Images/BA.png" style="height: 30px; width:30px">
                                <p class="announcement-text" style="text-align: left">Benefits Verification</p>
                                <hr>
                              </div>                            
                              <div class="col-xs-3 text-center">
                                <div class="announcement-heading circle-badge">{{model.BVCount}}</div>                               
                              </div>
                            </div>
                          </div>
                         
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="panel panel-warning">
                          <div class="panel-heading">   
                            <div class="row">
                                <div class="col-xs-7">
                                  <img src="../../../assets/Images/Prior-Auth-Icon.png" style="height: 30px; width:30px">
                                  <p class="announcement-text" style="text-align: left">Prior Authorization</p>
                                  <hr>
                                </div>                            
                                <div class="col-xs-3 text-center">
                                  <p class="announcement-heading circle-badge"> {{model.PACount}}</p>                               
                                </div>
                              </div>
                          </div>                          
                        </div>
                      </div>
                      <div class="col-md-2">
                        <div class="panel panel-danger">
                          <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-7">
                                  <img src="../../../assets/Images/prescription-512.png"style="height: 30px; width:30px">
                                  <p class="announcement-text" style="text-align: left">Prescription Referral</p>
                                  <hr>
                                </div>                            
                                <div class="col-xs-3 text-center">
                                  <p class="announcement-heading circle-badge">{{model.PRCount}}</p>                               
                                </div>
                              </div>                            
                          </div>
                          
                        </div>
                      </div>
                      
                      <div class="col-md-2">
                        <div class="panel panel-success">
                          <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-7">
                                  <i class="fa fa-comments fa-3x" style="height: 30px; width:30px"></i>
                                  <p class="announcement-text" style="text-align: left; margin-top: 30px">PAP</p>
                                  <hr>
                                </div>                            
                                <div class="col-xs-3 text-center">
                                  <p class="announcement-heading circle-badge">{{model.PAPCount}}</p>                               
                                </div>
                              </div>
                          </div>                         
                        </div>
                      </div>
                      <div class="col-md-2">
                          <div class="panel panel-danger">
                            <div class="panel-heading">
                              <div class="row">
                                  <div class="col-xs-7">
                                    <img src="../../../assets/Images/COPAY.png" style="height: 30px; width:30px">
                                    <p class="announcement-text" style="text-align: left; margin-top: 30px">CoPay</p>
                                    <hr>
                                  </div>                            
                                  <div class="col-xs-3 text-center">
                                    <p class="announcement-heading circle-badge">{{model.CoPayCount}}</p>                               
                                  </div>
                                </div>
                            </div>                            
                          </div>
                        </div>
                    </div>
                  </div>