<input type="checkbox" name="mobile-nav" id="mobile-nav" checked class="gaadiexp-check" onchange="this.blur()">
<label for="mobile-nav" class="gaadiexp white" tabindex="0"><span></span></label>
<nav role="navigation" class="header-nav">
  <div class="fixed-nav">
    <div class="menu">
      <ul>
        <li class="page_item page-item-2">
          <a href="#" [routerLink]="['/home']" class="list-group-item">My Dashboard</a>
        </li>
        <li class="page_item page-item-2">
          <a href="#" [routerLink]="['/map']" class="list-group-item ">Map</a>
        </li>
      </ul>
    </div>
</div></nav>
<div class="main-content">
  <div class="container">
    <h3 class="site-title"></h3>
    <div class="row">
      <div class="col-md-9">
      </div>
      <!-- <div class="col-md-3 hidden-xs">
        <div class="panel panel-default">
          <div class="list-group">
            <a href="#" class="list-group-item active">My Dashboard</a>
            <a href="#" class="list-group-item ">My Profile</a>            
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
